<div class="container">
    <h1 class="food-form-header">Add Recipe</h1>

    <%= form_with model: @new_recipe, url: user_recipes_path, method: :post, data: { turbo: false } do |form| %>
    <div>
        <%= form.label :name, class: "" %>
        <%= form.text_field :name, class: "" %>
    </div>

    <div class ="recipe-form-time-container">
        <div class = 'col-md-6 col-12'>
            <%= form.label :preparation_time, class: "" %>
            <%= form.number_field :preparation_time %>
        </div>
        <div class = 'col-md-6 col-12'>
            <%= form.label :cooking_time, class: "" %>
            <%= form.number_field :cooking_time, class: "" %>
        </div>
    </div>

    <div>
        <%= form.label :description, class: "" %>
        <%= form.text_area :description, class: "" %>
    </div>

    <div class="recipe-form-check-box">
        <%= form.check_box :public, class: "" %>
        <%= form.label :public, class: "" %>
    </div>

    <%= form.submit "Add Recipe", class: "" %>
    <% end %>
</div>