<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'navbar' %>
    <%= stylesheet_link_tag 'foods' %>
    <%= stylesheet_link_tag 'recipe_index' %>
    <%= stylesheet_link_tag 'recipe_new' %>
    <%= stylesheet_link_tag 'sign_in' %>
    <%= javascript_importmap_tags %>
  </head>

  <body style=" background-image: url(<%= asset_path('bg.png') %>);">
    <%= render partial: "layouts/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
